name: Unit testing
on: [push, workflow_dispatch]

jobs:
    unit-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install dependencies
              run: pip install -r requirements.txt
            
            - name: Run the unit tests
              run: pytest



